<div class="trans-resource">

    <h3 class="headline">{{ project.name }} - {{ 'CT_TRANS.languageResources'|trans({}, 'contao_default') }}</h3>

    {{ form|raw }}

    <div class="accordion mt-4" id="transLanguages">
        {% for language in languages %}
        <div class="accordion-item">
            <h3 class="accordion-header" id="transLanguage{{ language.id }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLanguage{{ language.id }}" aria-expanded="true" aria-controls="collapseLanguage{{ language.id }}">
                    {{ language.language }} (translated: {{ language.perc_translated }} %)
                </button>
            </h3>
            <div id="collapseLanguage{{ language.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#transLanguages">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-6">
                            <h3>{{ 'CT_TRANS.translate'|trans({}, 'contao_default') }}</h3>
                            {{ language.trans_nav|raw }}
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
