
<div id="translationTableApp" class="trans-translate">
    <div v-cloak ref="app" data-project="{{ project.id }}" data-resource="{{ resource.id }}" data-language="{{ language }}" data-csrf-token="{{ csrf_token }}">
        <h3>{{ project.name }} - {{ language }} - {{ resource.name }}</h3>
        <div v-if="rows" v-for="(row, index) in rows" v-bind:data-index="index" v-bind:data-translation-id="row.target.translation_id" class="translation-item row">
            <div class="translation-source col-12">
                <div>
                    <code class="small" v-html="row.source.translation_id"></code>
                </div>
                <div>
                    <span class="small font-italic text-muted" v-html="row.source.translation"></span>
                </div>
            </div>
            <div class="translation-target col-12">
                <div  v-if="!row.isOpen" class="d-flex">
                    <div><button @click="edit(index)" class="btn btn-sm btn-primary">{{ 'CT_TRANS.edit'|trans({}, 'contao_default') }}</button></div>
                    <div class="ps-3 pe-3"><span>${ row.target.translation }</span></div>
                </div>
                <div v-if="row.isOpen" class="d-flex">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <button @click="save(index)" class="btn btn-sm btn-danger" type="button">{{ 'CT_TRANS.save'|trans({}, 'contao_default') }}</button>
                        </div>
                        <input type="text" name="translation" v-bind:data-source-id="row.source.id" class="form-control" placeholder="{{ 'CT_TRANS.noTranslationFound'|trans({}, 'contao_default') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="/bundles/markocupiccontaotranslation/js/translation_table.js"></script>
